*{
    border: 0px;
    padding : 0px;
}
.header{
    background-color: white;
    box-shadow: 2px black;
    position: fixed;
    top : 0px;
    left : 0px;
    height: 8vh;
    width : 100vw;
    margin-bottom: 3vh;
}

body{
    display: flex;

}
.tweet-component{
    background-color:#ECF8FF;
    /* height: 100vh; */
    width: 50vw;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tweet-text{
    height : 30vh;
    width : 30vw;
    border: 1px solid gray;
    padding: 1vw;
    font-size: larger;
    border-radius: 5%;
}
#post{
    width : 8vw;
    height: 8vh;
    margin-top: 2vh;
    background-color: darkblue;
    color: white;
    border-radius: 20%;
}
.feed{
    display : flex;
    padding: 2vw;
    flex-direction: column;
    /* align-items: center; */
}
.tweet{
    width: 50vw;
    /* height : 20vh; */
    display: flex;
    flex-direction: column;
    border : 1px solid gray;
    padding: 1vw;
    margin-bottom: 1vh;
    border-radius: 2%;
}

.tweet-top{
    display: flex;
    flex-direction: row;

}